<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改个人信息</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link href="../static/layui/layui.css" rel="stylesheet">
    <link href="../static/css/myui.css" rel="stylesheet">
    <link href="../static/css/preview.css" rel="stylesheet">
</head>
<body>
    <ul class="layui-nav">
        <li class="layui-nav-item">
            <a href="">带徽章<span class="layui-badge">9</span></a>
        </li>
        <li class="layui-nav-item">
            <a href="">小圆点<span class="layui-badge-dot"></span></a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
                <img src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="layui-nav-img">
            </a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">子级菜单</a></dd>
                <dd><a href="javascript:;">横线隔断</a></dd>
                <hr>
                <dd style="text-align: center;"><a href="">退出</a></dd>
            </dl>
        </li>
    </ul>

    <div class="layui-container" style="margin-top: 15px">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md3">
                <div class="layui-panel">
                    <ul class="layui-menu" id="docDemoMenu1">
                        <li lay-options="{id: 100}">
                            <div class="myui-menu-body-title">
                                <img class="myui-top-image" src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
                                <span class="myui-topic-name">个人资料</span>
                            </div>
                        </li>
                        <li lay-options="{id: 100}">
                            <div class="myui-menu-body-title myui-active">
                                <img class="myui-top-image" src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
                                <span class="myui-topic-name">账号设置</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layui-col-md9">
                <div class="layui-card" style="padding: 15px 10px">
                    <span class="myui-nickname layui-font-18" style="color: black">修改个人资料</span>
                    <a style="float: right;margin-right: 10px">返回主页
                        <i class="layui-icon layui-icon-return"></i></a>
                    <hr>
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">头像</label>
                            <div class="layui-input-block">
                                <img class="myui-avatar-large" src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="sex" value="男" title="男">
                                <input type="radio" name="sex" value="女" title="女" checked>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">友链</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required  lay-verify="required" placeholder="请输入友情链接" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">签名</label>
                            <div class="layui-input-block">
                                <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-card" style="padding: 15px 10px">
                    <span class="myui-nickname layui-font-18" style="color: black">修改账号设置</span>
                    <a style="float: right;margin-right: 10px">返回主页
                        <i class="layui-icon layui-icon-return"></i></a>
                    <hr>
                    <div class="layui-row" style="padding: 10px 50px">
                        <div class="layui-row layui-font-16" style="display: flex;position: relative;margin-top: 10px">
                            <span style="width: 80px">用户名</span>
                            <span>小可</span>
                            <a style="position: absolute;right: 15px">设置</a>
                        </div>
                        <hr>
                        <div class="layui-row layui-font-16" style="display: flex;position: relative;margin-top: 20px">
                            <span style="width: 80px">邮箱</span>
                            <span>2250671362@qq.com</span>
                            <a style="position: absolute;right: 15px">修改</a>
                        </div>
                        <hr>
                        <div class="layui-row layui-font-16" style="display: flex;position: relative;margin-top: 20px">
                            <span style="width: 80px">密码</span>
                            <span>已设置</span>
                            <a style="position: absolute;right: 15px">修改</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
<script src="../static/layui/layui.js"></script>
<script src="../static/jquery/jquery-3.7.1.min.js"></script>