<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">页面名称</title>
    <link href="../static/layui/layui.css" th:href="@{/layui/layui.css}" rel="stylesheet">
    <script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <link href="../static/css/myui.css" th:href="@{/css/myui.css}" rel="stylesheet">
    <link href="../static/css/email.css" th:href="@{/css/email.css}" rel="stylesheet">
    <script src="../static/jquery/jquery-3.7.1.min.js" th:src="@{/jquery/jquery-3.7.1.min.js}"></script>

</head>
<body>
<!--导航栏-->
<div style="background: rgb(47,54,60)" th:fragment="navigate(user, index)">
    <div class="layui-container" style="display:flex;position: relative">
        <div class="myui-logo-container">
            <img style="width: 80%;height: 80%;border-radius: 5px" th:src="@{/avatars/icon/logo.png}"
                 src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
        </div>
        <ul class="layui-nav" style="margin-left: -10px">
            <li class="layui-nav-item" th:classappend="${index == 1 ? 'myui-title-active': ''}">
                <a th:href="@{'/index'}" class="layui-font-18" style="">话题</a>
            </li>
            <li class="layui-nav-item" th:classappend="${index == 2 ? 'myui-title-active': ''}">
                <a th:href="@{'/index/article'}" href="" class="layui-font-18">文章</a>
            </li>
            <li class="layui-nav-item">
                <a href="" target="_blank" class="layui-font-18">Gitee</a>
            </li>
            <li class="layui-nav-item">
                <a href="" target="_blank" class="layui-font-18">Github</a>
            </li>
        </ul>
        <!--搜索框-->
        <div class="myui-navbar-item">
            <div class="myui-search-input" style="margin-top: 0px">
                <input class="myui-input" type="text" id="search-input" placeholder="输入你想查询的内容"
                       autocomplete="off">
                <span><i class=" layui-icon layui-icon-search" style="font-size: 16px"></i></span>

            </div>
        </div>
        <!--私信-->
        <div class="myui-navbar-item">
            <a href="/user/email" class="myui-font-color-gray">
                <i class="layui-icon layui-icon-email"  style="font-size: 20px"></i>
            </a>
        </div>
        <div style="position: absolute;right: 50px;margin-top: 10px">
            <div style="display: flex">
                <a class="layui-btn" style="margin-right: 20px" th:href="@{'/login'}" th:if="${user == null}">
                    登录</a>
                <button class="layui-btn" id="post-button" style="margin-right: 20px" th:if="${user != null}">
                    <i class="layui-icon layui-icon-add-1"></i>
                    发表
                </button>
                <a href="javascript:;" class="myui-font-color-gray" id="user-info" th:if="${user != null}">
                    <img th:src="@{${user.avatar}}" style="border-radius: 50%;width: 35px;height: 35px ">
                    <span class="layui-font-14" style="color: whitesmoke">[[${user.nickname}]]</span>
                    <i class="layui-icon layui-icon-down" style="color: whitesmoke"></i>
                </a>
            </div>
        </div>
    </div>
    <script>
        layui.use('dropdown', function () {
            var dropdown = layui.dropdown
            dropdown.render({
                elem: '#post-button' //可绑定在任意元素中，此处以上述按钮为例
                , data: [{
                    title: '发动态'
                    , id: 100
                    , href: '/dynamic/create'
                }, {
                    title: '发话题'
                    , id: 101
                    , href: '/dynamic/create-topic'
                }, {
                    title: '发文章'
                    , id: 101
                    , href: '/article/create'
                }]
                , id: 'demo1'
                //菜单被点击的事件
                , click: function (obj) {
                    // console.log(obj);
                    // layer.msg('回调返回的参数已显示再控制台');
                }
            });
        });

        layui.use('dropdown', function () {
            var dropdown = layui.dropdown
            dropdown.render({
                elem: '#user-info', //可绑定在任意元素中，此处以上述按钮为例
                trigger: 'hover',
                data: [{
                    title: '个人主页',
                    href: '/user/me'
                    , id: 100
                }, {
                    title: '我的收藏'
                    , id: 101
                    , href: '/user/favorites' //开启超链接
                }, {
                    title: '编辑资料'
                    , id: 101
                    , href: '/profile/me' //开启超链接
                }, {
                    title: '退出登录'
                    , id: 101
                    , href: '/login/logout' //开启超链接
                }]
                , id: 'demo1'
                //菜单被点击的事件
                , click: function (obj) {
                    // console.log(obj);
                    // layer.msg('回调返回的参数已显示再控制台');
                }
            });
        });


        $(document).ready(function () {
            // 解析URL并获取关键词参数值
            var urlParams = new URLSearchParams(window.location.search);
            var keyword = urlParams.get('keyword');

            // 将关键词设置为输入框的值
            $('#search-input').val(keyword);

            // 监听输入框的按键事件
            document.getElementById('search-input').addEventListener('keydown', function (event) {
                var keyword = event.target.value;
                // 检查是否按下了回车键
                if (event.key === 'Enter') {
                    if (keyword) {
                        window.location.href = "/search/results?keyword=" + encodeURIComponent(keyword);
                    } else {
                        console.log('搜索词为空');
                    }
                }
            });
        });

    </script>
</div>

<!--话题列表-->
<ul class="layui-menu" th:fragment="topic(topics)">
    <li th:each="topic : ${topics}">
        <div class="myui-menu-body-title" th:classappend="${topic.selected ? 'myui-active' : ''}"
             th:onclick="|topic('${topic.id}')|">
            <img class="myui-top-image" th:src="@{${topic.icon}}">
            <span class="myui-topic-name">[[${topic.name}]]</span>
        </div>
    </li>
    <script>
        function topic(id) {
            window.location.href = "/index/topics/" + id;
        }
    </script>
</ul>

<!--动态预览列表-->
<th:block th:fragment="preDynamics(dynamics)">
    <div class="layui-card myui-card" th:each="dynamic : ${dynamics}">
        <!--        <div class="myui-avatar-container">-->
        <!--            <img th:src="@{${dynamic.avatar}}" src="htFtps://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="myui-avatar-middle">-->
        <!--        </div>-->
        <div class="layui-card-body" style="width: 100%">
            <div class="myui-card-header">
                <span class="myui-nickname" th:text="${dynamic.nickname}">民数</span>
                <span class="myui-top-tip" th:if="${dynamic.stick == 1}">置顶</span>
                <span class="myui-time-tip"
                      th:text="${'发布于 ' + #dates.format(dynamic.createTime, 'yyyy-MM-dd HH:mm:ss')}">发布于2024-23-12 12:12:21</span>
            </div>
            <a class="myui-card-titler" target="_blank" href="http://localhost:8080" th:if="${dynamic.type == 1}"
               th:text="${dynamic.title}" th:onclick="|window.open('/dynamic/${dynamic.id}', '_blank')|">
                Go 语言社区系统 BBS-GO 4.0.0 发布，升级vue3、nuxt3
            </a>
            <div class="myui-card-content" th:text="${dynamic.preView}"
                 th:onclick="|window.open('/dynamic/${dynamic.id}', '_blank')|">
                卡片式面板面板通常用于非白色背景色的主体内
            </div>
            <ul class="myui-image-ul layui-row" th:onclick="|window.open('/dynamic/${dynamic.id}', '_blank')|">
                <li class="myui-image-li" th:each="image : ${#thJson.parseStringArray(dynamic.imageList)}">
                    <img class="myui-list-image" th:src="${image}" src="https://picsum.photos/400">
                </li>
            </ul>
            <div class="myui-card-footer">
                <div class="myui-gap" th:classappend="${dynamic.liked ? 'active' : ''}"
                     th:id="${'like-gap-' + dynamic.id}" th:onclick="|dynamicDoLikeOrUnlike(${dynamic.id})|">
                    <i class="layui-icon  layui-icon-praise"></i>&nbsp;点赞&nbsp;<span
                        th:text="${dynamic.likeNumber}" th:id="${'like-number-' + dynamic.id}">2121</span>
                </div>
                <div class="myui-gap">
                    <i class="layui-icon layui-icon-reply-fill"></i>&nbsp;评论&nbsp;<span
                        th:text="${dynamic.commentNumber}">2121</span>
                </div>
                <div class="myui-gap">
                    <i class="layui-icon layui-icon-read"></i>&nbsp;浏览&nbsp;<span
                        th:text="${dynamic.viewNumber}">2121</span>
                </div>
                <div class="myui-topic-tip" th:text="${dynamic.topicName}">开源</div>
            </div>
        </div>
    </div>
</th:block>


<!--文章预览列表-->
<th:block th:fragment="preArticles(articles)">
    <div class="layui-card myui-card" th:each="article : ${articles}">
        <!--        <div class="myui-avatar-container">-->
        <!--            <img th:src="@{${dynamic.avatar}}" src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="myui-avatar-middle">-->
        <!--        </div>-->
        <div class="layui-card-body" style="width: 100%">
            <div class="myui-card-header">
                <span class="myui-nickname" th:text="${article.nickname}">民数</span>
                <span class="myui-time-tip"
                      th:text="${'发布于 ' + #dates.format(article.createTime, 'yyyy-MM-dd HH:mm:ss')}">发布于2024-23-12 12:12:21</span>
            </div>
            <a class="myui-card-titler" target="_blank" href="http://localhost:8080" th:text="${article.title}"
               th:onclick="|window.open('/article/${article.id}', '_blank')|">
                Go 语言社区系统 BBS-GO 4.0.0 发布，升级vue3、nuxt3
            </a>
            <div class="myui-card-content" th:text="${article.preview}"
                 th:onclick="|window.open('/article/${article.id}', '_blank')|">
                卡片式面板面板通常用于非白色背景色的主体内
            </div>
            <ul class="myui-image-ul layui-row" th:onclick="|window.open('/article/${article.id}', '_blank')|">
                <!--                <li class="myui-image-li" th:each="image : ${#thJson.parseStringArray(article.imageList)}">-->
                <!--                    <img class="myui-list-image" th:src="${image}" src="https://picsum.photos/400">-->
                <!--                </li>-->
            </ul>
            <div class="myui-card-footer">
                <div class="myui-gap" th:classappend="${article.liked ? 'active' : ''}"
                     th:id="${'like-gap-' + article.id}" th:onclick="|articleDoLikeOrUnlike(${article.id})|">
                    <i class="layui-icon layui-icon-praise"></i>&nbsp;点赞&nbsp;<span
                        th:text="${article.likeNumber}" th:id="${'like-number-' + article.id}">2121</span>
                </div>
                <div class="myui-gap">
                    <i class="layui-icon layui-icon-reply-fill"></i>&nbsp;评论&nbsp;<span
                        th:text="${article.commentNumber}">2121</span>
                </div>
                <div class="myui-gap">
                    <i class="layui-icon layui-icon-read"></i>&nbsp;浏览&nbsp;<span
                        th:text="${article.viewNumber}">2121</span>
                </div>
                <div class="myui-topic-tip" th:text="${article.tags}">开源</div>
            </div>
        </div>
    </div>
</th:block>


<!--收藏列表-->
<th:block th:fragment="preFavorites(favorites)">
    <div class="layui-card myui-card" th:each="favorite : ${favorites}">
        <!--        <div class="myui-avatar-container">-->
        <!--            <img th:src="@{${dynamic.avatar}}" src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="myui-avatar-middle">-->
        <!--        </div>-->
        <div class="layui-card-body" style="width: 100%">
            <div class="myui-card-header">
                <span class="myui-nickname" th:text="${favorite.nickname}">昵称</span>
                <span class="myui-time-tip"
                      th:text="${'发布于 ' + #dates.format(favorite.createTime, 'yyyy-MM-dd HH:mm:ss')}">发布于2024-23-12 12:12:21</span>
            </div>
            <a class="myui-card-titler" target="_blank"
               th:href="${favorite.type == 0 ? '/dynamic/' + favorite.dynamicId : '/article/' + favorite.articleId}"
               th:onclick="|window.open(this.href, '_blank'); return false;|"
               th:text="${favorite.title}">
                Go 语言社区系统 BBS-GO 4.0.0 发布，升级vue3、nuxt3
            </a>

            <div class="myui-card-content"
                 th:utext="${favorite.preView}"
                 th:attr="data-url=${favorite.type == 0 ? '/dynamic/' + favorite.dynamicId : '/article/' + favorite.articleId}"
                 onclick="window.open(this.getAttribute('data-url'), '_blank'); return false;">
                卡片式面板通常用于非白色背景色的主体内
            </div>

            <ul class="myui-image-ul layui-row" th:onclick="|window.open('/favorite/${favorite.id}', '_blank')|">
                <!--                <li class="myui-image-li" th:each="image : ${#thJson.parseStringArray(article.imageList)}">-->
                <!--                    <img class="myui-list-image" th:src="${image}" src="https://picsum.photos/400">-->
                <!--                </li>-->
            </ul>
            <div class="myui-card-footer">
                <!--                <div class="myui-gap" th:classappend="${favorite.liked ? 'active' : ''}" th:id="${'like-gap-' + favorite.id}" th:onclick="|articleDoLikeOrUnlike(${favorite.id})|">-->
                <!--                    <i class="layui-icon layui-icon-star-fill myui-like-icon"></i>&nbsp;点赞&nbsp;<span th:text="${favorite.likeNumber}" th:id="${'like-number-' + favorite.id}">2121</span>-->
                <!--                </div>-->
                <div class="myui-gap">
                    <i class="layui-icon layui-icon-praise"></i>&nbsp;点赞&nbsp;<span
                        th:text="${favorite.likeNumber}" th:id="${'like-number-' + favorite.id}">2121</span>
                </div>
                <div class="myui-gap" th:classappend="${favorite.stared ? 'active' : ''}"
                     th:id="${'star-gap-' + (favorite.type == 0 ? favorite.dynamicId : favorite.articleId)}"
                     th:attr="data-id=${favorite.type == 0 ?  favorite.dynamicId :  favorite.articleId}
                     ,data-type=${favorite.type == 0 ? 'dynamic' : 'article'}"
                     th:onclick="|DoStarOrUnStar(this.getAttribute('data-id'), this.getAttribute('data-type'))|">
                    <i class="layui-icon layui-icon-rate"></i>&nbsp;收藏<span th:text="${favorite.starNumber}"
                                                                              th:id="${'star-number-' + favorite.type == 0 ?  favorite.dynamicId :  favorite.articleId}">2121</span>

                </div>

                <div class="myui-gap">
                    <i class="layui-icon layui-icon-read"></i>&nbsp;浏览&nbsp;<span th:text="${favorite.viewNumber}">2121</span>
                </div>
                <div class="myui-topic-tip" th:text="${favorite.tags}">开源</div>
            </div>
        </div>
    </div>
</th:block>

<!--消息列表-用户列表-->
<!--<th:block th:fragment="preEmail(emails)">-->
<!--    <li class="touser" th:each="user : ${users}" th:onclick="|Chat('${user.username}')|">-->
<!--        <img  class="pg" th:src="${user.avatar}">-->
<!--        <div class="information">-->
<!--            <span class="tousername" th:text="${user.username}">用户名</span>-->
<!--            <span class="preview" >用户预览</span>-->
<!--        </div>-->
<!--    </li>-->
<!--</th:block>-->

<!--主页右侧信息栏-->
<div class="layui-col-md3" th:fragment="rightInfo(notice, ranks)">
    <div class="layui-card">
        <div class="layui-card-header myui-side-title">公告</div>
        <div class="layui-card-body" th:text="${notice}">
            欢迎访问kkblog开发社区，目前属于demo版本，欢迎注册留言
        </div>
    </div>

    <div class="layui-card myui-side-card">
        <div class="layui-card-header myui-side-title">积分排行</div>
        <div class="layui-card-body">
            <div class="layui-row" style="margin-bottom: 5px" th:each="u,stat:${ranks}">
                <div class="layui-col-md2" style="padding-top: 1%">
                    <img class="myui-avatar-small" style="margin: auto;display: block"
                         th:onclick="|window.location.href='/user/' + ${u.id}|" th:src="@{${u.avatar}}"
                         src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
                </div>
                <div class="layui-col-md7" style="text-align: left">
                    <a class="layui-row layui-font-14 myui-a-tag" th:href="@{'/user/' + ${u.id}}"
                       th:text="${u.nickname}">秋天的落叶</a>
                    <div class="layui-row layui-font-12" style="color: #6c6c70"><span
                            th:text="${u.dynamicNumber}">212</span> 帖子 • <span th:text="${u.commentNumber}">12</span>
                        评论
                    </div>
                </div>
                <div class="layui-col-md3 layui-font-14" style="display: flex;padding-top: 2%;color: #6c6c70">
                    <i class="layui-icon layui-icon-dollar" style="font-size: 14px"></i>&nbsp;
                    <span th:text="${u.scores}">32212</span>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>


<!--页脚-->
<div class="layui-row" style="margin-top: 30px;margin-bottom: 20px;text-align: center;color: darkgrey"
     th:fragment="footer">
    © 2024 Powered by Derek
</div>

<!--滑动到顶部组件-->
<div th:fragment="goToTop">
    <button style="border-radius: 5px;position: fixed; right: 1px;bottom: 30px;" class="layui-btn layui-anim"
            id="go-to-top-btn">
        回到顶部
    </button>
    <script>
        $('#go-to-top-btn').on('click', function () {
            window.scrollTo({
                top: 0,
                left: 0,
                behavior: 'smooth' // 可选，平滑滚动效果
            });
        })
        window.addEventListener('scroll', function () {
            if (window.scrollY === 0) {
                $('#go-to-top-btn').addClass('myui-hide')
                $('#go-to-top-btn').remove('layui-anim-up')
                $('#go-to-top-btn').addClass('layui-anim-fadeout')
            } else if (window.scrollY > 300) {
                $('#go-to-top-btn').removeClass('myui-hide')
                $('#go-to-top-btn').removeClass('layui-anim-fadeout')
                $('#go-to-top-btn').addClass('layui-anim-up')
            }
        })
    </script>
</div>

</body>
</html>

