<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment::head('消息')">
    <meta charset="UTF-8">
    <title>消息</title>
    <link href="../static/layui/layui.css" rel="stylesheet">
    <link href="../static/css/myui.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">

    <!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
    <script src="../static/layui/layui.js"></script>
    <script src="../static/jquery/jquery-3.7.1.min.js"></script>
    <!--    <link href="../static/css/preview.css" rel="stylesheet">-->
</head>

<body>
<ul class="layui-nav" style="background: rgb(47,54,60)" th:replace="_fragment::navigate(${user}, 0)">
    <li class="layui-nav-item">
        <a href="">带徽章<span class="layui-badge">9</span></a>
    </li>
    <li class="layui-nav-item">
        <a href="">小圆点<span class="layui-badge-dot"></span></a>
    </li>
    <li class="layui-nav-item" lay-unselect>
        <a href="javascript:;">
            <img src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg" class="layui-nav-img">
        </a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">子级菜单</a></dd>
            <dd><a href="javascript:;">横线隔断</a></dd>
            <hr>
            <dd style="text-align: center;"><a href="">退出</a></dd>
        </dl>
    </li>
</ul>

<div class="layui-container" style="margin-top: 10px">
    <div class="layui-card myui-user-background"
         th:style="'background-image: url(' + @{${userDto.backgroundImage}} + ');'"
         style="background-image: url('https://file.mlog.club/images/2020/10/13/6e7933f5c9b2fe515210a17ea1762105.jpg');">
        <div class="layui-row myui-user-nickname-panel">
            <div class="layui-col-md6" style="margin-left: 130px;margin-top: 5px;width: 90%">
                <div class="layui-row myui-nickname layui-font-16" style="color: black" th:text="${userDto.nickname}">
                    小可的猫爬架
                </div>
                <div class="layui-row" style="margin-top: 5px" th:text="${userDto.signature}">
                    这个人很懒，什么也没有留下。
                </div>
            </div>
        </div>
        <input type="file" class="myui-hide" accept="image/*" id="file-input">
        <div class="myui-change-bg-btn" th:if="${userDto.me}" id="file-input-btn">
            <i class="layui-icon layui-icon-set"></i> 更换背景图
        </div>
        <div style="position:absolute;right: 40px;bottom: 30px" class="myui-subscribe-btn"
             th:id="${'follow-btn-a-' + userDto.id}" th:onclick="|followUser('a-', ${userDto.id})|"
             th:classappend="${userDto.follow} ? 'active': ''" th:if="${!userDto.me}">
            <i class="layui-icon" th:id="${'follow-icon-a-' + userDto.id}"
               th:classappend="${userDto.follow} ? '': 'layui-icon-add-1'" th:text="${userDto.follow ? '已关注':'关注'}"
               style="color: white">关注</i>
        </div>
        <div class="layui-row myui-user-avatar-container" style="">
            <img class="myui-user-avatar" th:src="@{${userDto.avatar}}"
                 src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
        </div>
    </div>

    <div class="layui-row layui-col-space12">
        <div class="layui-col-md3">
            <div class="layui-card" style="padding: 10px">
                <div class="layui-row">
                    <span class="myui-nickname" style="color: black">个人成就</span>
                </div>
                <hr>
                <div class="layui-row">
                    <div class="layui-col-md3 myui-layout-center">
                        <div style="text-align: center">
                            <div class="myui-font-color-deep-gray layui-font-12">积分</div>
                            <span class="layui-font-14" style="font-weight: bold"
                                  th:text="${userDto.scores}">2213</span>
                        </div>
                    </div>
                    <div class="layui-col-md3 myui-layout-center">
                        <div style="text-align: center">
                            <div class="myui-font-color-deep-gray layui-font-12">话题</div>
                            <span class="layui-font-14" style="font-weight: bold"
                                  th:text="${userDto.dynamicNumber}">213</span>
                        </div>
                    </div>
                    <div class="layui-col-md3 myui-layout-center">
                        <div style="text-align: center">
                            <div class="myui-font-color-deep-gray layui-font-12">评论</div>
                            <span class="layui-font-14" style="font-weight: bold"
                                  th:text="${userDto.commentNumber}">0</span>
                        </div>
                    </div>
                    <div class="layui-col-md3 myui-layout-center">
                        <div style="text-align: center">
                            <div class="myui-font-color-deep-gray layui-font-12">排名</div>
                            <span class="layui-font-14" style="font-weight: bold"
                                  th:text="${userDto.registerRank}">1</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="layui-card" style="padding: 10px">
                <div class="layui-row">
                    <span class="myui-nickname" style="color: black">个人资料</span>
                    <a class="layui-font-14 myui-a-tag" style="float: right;margin-right: 10px" th:href="@{/profile/me}"
                       th:if="${userDto.me}">编辑资料</a>
                </div>
                <hr>
                <div class="layui-row">
                    <span>昵称</span>
                    <span style="float: right;margin-right: 10px;width: 80%" th:text="${userDto.nickname}">小可小可小可小小可小可小可小小可小可小可小可小可</span>
                </div>
                <hr>
                <div class="layui-row">
                    <span>签名</span>
                    <span style="float: right;margin-right: 10px;width: 80%" th:text="${userDto.signature}">这个人很烂什么也没有留个人很烂什么也没有留个人很烂什么也没有留下</span>
                </div>
                <hr>
                <div class="layui-row">
                    <span>友链</span>
                    <a class="myui-a-tag" style="float: right;margin-right: 10px;width: 80%;overflow-x: hidden;"
                       th:href="@{${userDto.link}}" target="_blank" th:text="${userDto.link}">小可小可小可小可小可</a>
                </div>
            </div>

            <div class="layui-card" style="padding: 10px">
                <div class="layui-row">
                    <span class="myui-nickname" style="color: black">粉丝</span>
                    <span class="myui-font-color-deep-gray" style="font-weight: bold;margin-left: 5px"
                          th:text="${userDto.fanNumber}">110</span>
                    <a class="layui-font-14 myui-a-tag" style="float: right;margin-right: 10px;"
                       th:if="${#lists.size(fans) < userDto.fanNumber}">更多</a>
                </div>
                <hr>
                <div class="layui-row">
                    <div class="layui-row" style="margin-top: 8px" th:each="fan,stat:${fans}">
                        <div class="layui-col-md2">
                            <img class="myui-avatar-small" th:onclick="|window.location.href='/user/' + ${fan.id}|"
                                 th:src="@{${fan.avatar}}" src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
                        </div>
                        <div class="layui-col-md6">
                            <a class="layui-row myui-a-tag" th:href="@{${'/user/' + fan.id}}" th:text="${fan.nickname}">小可小可</a>
                            <div class="layui-row layui-font-12" style="height: 18px;overflow-y: hidden"
                                 th:text="${fan.signature}">人很烂什么也没有留个人很烂什么也没
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <div class="myui-subscribe-btn list" th:id="${'follow-btn-b-' + fan.id}"
                                 th:onclick="|followUser('b-', ${fan.id})|"
                                 th:classappend="${fan.follow ? 'active' : ''}">
                                <i class="layui-icon" th:id="${'follow-icon-b-' + fan.id}"
                                   th:classappend="${fan.follow ? '' : 'layui-icon-add-1'}" style="color: white"
                                   th:text="${fan.follow ? '已关注' : '关注'}">关注</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-card" style="padding: 10px">
                <div class="layui-row">
                    <span class="myui-nickname" style="color: black">关注</span>
                    <span class="myui-font-color-deep-gray" style="font-weight: bold;margin-left: 5px"
                          th:text="${userDto.followNumber}">110</span>
                    <a class="layui-font-14 myui-a-tag" style="float: right;margin-right: 10px;"
                       th:if="${#lists.size(follows) < userDto.followNumber}">更多</a>
                </div>
                <hr>
                <div class="layui-row">
                    <div class="layui-row" style="margin-top: 8px" th:each="follow,stat:${follows}">
                        <div class="layui-col-md2">
                            <img class="myui-avatar-small" th:onclick="|window.location.href='/user/' + ${follow.id}|"
                                 th:src="@{${follow.avatar}}" src="https://unpkg.com/outeres@0.0.10/demo/avatar/1.jpg">
                        </div>
                        <div class="layui-col-md6">
                            <a class="layui-row myui-a-tag" th:href="@{${'/user/' + follow.id}}"
                               th:text="${follow.nickname}">小可小可</a>
                            <div class="layui-row layui-font-12" style="height: 18px;overflow-y: hidden"
                                 th:text="${follow.signature}">人很烂什么也没有留个人很烂什么也没
                            </div>
                        </div>
                        <div class="layui-col-md3">
                            <div class="myui-subscribe-btn list" th:id="${'follow-btn-c-' + follow.id}"
                                 th:onclick="|followUser('c-', ${follow.id})|"
                                 th:classappend="${follow.follow ? 'active' : ''}">
                                <i class="layui-icon" th:id="${'follow-icon-c-' + follow.id}"
                                   th:classappend="${follow.follow ? '' : 'layui-icon-add-1'}"
                                   th:text="${follow.follow ? '已关注' : '关注'}" style="color: white">已关注</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="layui-col-md9" style="height: 500px;">
            <div class="layui-card" style="padding: 10px;height: 500px">
                <div class="layui-row">
                    <a class="layui-font-18 myui-submenu  active" src="">
                        <i class="layui-icon layui-icon-email" style="font-size: 20px"></i>
                        消息</a>
                </div>
                <hr>
                <div class="myui-layout-parent">
                    <div class="bili-im">
                        <div class="myui-layout-left">
                            <div class="myui-layout-left-title">
                                <span>近期消息</span>
                            </div>
                            <div class="myui-layout-list-container ">
                                <div class="myui-layout-list-container-list ">
                                </div>
                            </div>
                        </div>
                        <div class="myui-layout-right">
                            <div class="dialog ">
                                <div class="title">
                                    <span id="title"></span>
                                </div>
                                <div class="message-list">
                                    <!--                                    <div class="msg-item not-me">-->
                                    <!--                                        <a title=""-->
                                    <!--                                           target="_blank" class="avatar"-->
                                    <!--                                           style="background-image: url(../static/avatars/img_0.png);"></a>-->
                                    <!--                                        <div class="message">-->
                                    <!--                                            <div class="message-content"></div>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->

                                    <!--                                    <div class="msg-item is-me">-->
                                    <!--                                        <a title=""-->
                                    <!--                                           target="_blank" class="avatar"-->
                                    <!--                                           style="background-image: url(../static/avatars/img_3.png);  float: right;"></a>-->
                                    <!--                                        <div class="message">-->
                                    <!--                                            <div class="message-content is-me"></div>-->
                                    <!--                                        </div>-->
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="layui-row" style="margin-top: 30px;margin-bottom: 20px;text-align: center;color: darkgrey"
     th:replace="_fragment::footer">
    © 2024 Powered by Derek
</div>
</body>
</html>

<script th:inline="javascript">

    let user = [[${user}]]
    let userDto = [[${userDto}]]

    //关注
    followUser = function (prefix, id) {
        if (user == null) {
            layer.open({
                title: '系统提示'
                , content: '请登陆后再操作'
            });
            return;
        }
        if ($('#follow-btn-' + prefix + id).hasClass('active')) {
            // 取消关注
            $.get('/follow/undoFollow?userId=' + id, function (res) {
                if (res.code === 200) {
                    layer.msg('取消关注成功！', {icon: 1}, function () {
                    });
                    $('#follow-btn-' + prefix + id).removeClass('active');
                    $('#follow-icon-' + prefix + id).addClass('layui-icon-add-1').text('关注');
                    // $('#follow-icon-' + id).text('已关注');
                } else {
                    layer.open({
                        title: '系统提示'
                        , content: res.msg
                    });
                }
            });
        } else {
            $.get('/follow/doFollow?userId=' + id, function (res) {
                if (res.code === 200) {
                    layer.msg('关注成功！', {icon: 1}, function () {
                    });
                    $('#follow-btn-' + prefix + id).addClass('active');
                    $('#follow-icon-' + prefix + id).removeClass('layui-icon-add-1').text('已关注');
                    // $('#follow-icon-' + id).text('已关注');
                } else {
                    layer.open({
                        title: '系统提示'
                        , content: res.msg
                    });
                }
            });
        }
    }

    // 消息
    function updateNum() {
        let text = $("#textareaContent").val();
        $("em").html(100 - text.length);
    }


    let websocketUrl = 'ws://' + location.host + '/intoChat';
    let websocket = new WebSocket(websocketUrl);


    websocket.onopen = function () {
        console.log("房间链接成功!");
    }
    websocket.onclose = function () {
        console.log("房间断开链接");
    }
    websocket.onerror = function () {
        console.log("房间出现异常");
    }
    window.onbeforeunload = function () {
        websocket.close();
    }
    websocket.onmessage = function (e) {
        let resp = JSON.parse(e.data);
        console.log(resp);
        if (resp.status == -1) {
            if (confirm(resp.message)) {
                location.assign("login");
            }
            return;
        } else {
            if (resp.message == "getUser") {
                createList(resp.users);
            }
            if (resp.message == "loadMessage") {
                createChatList(resp);
            }
            if (resp.message == "sendMessage") {
                let MessageList = document.querySelector('.message-list');
                let avatar = "";
                for (let message of resp.messages) {
                    if (message.isSender) {
                        avatar = message.avatar;
                        let fromus = document.createElement('div');
                        fromus.className = 'msg-item not-me';
                        let a = document.createElement('a');
                        a.title = message.username;
                        a.className = 'avatar';
                        a.style.backgroundImage = 'url(' + message.avatar + ')';
                        a.style.float = 'right';
                        let sendMes = document.createElement('div');
                        sendMes.className = 'message';
                        sendMes.style.float = 'right';
                        sendMes.style.backgroundColor = '#80b9f2';
                        sendMes.style.borderRadius = '16px 0 16px 16px';
                        let sendMesContent = document.createElement('div');
                        sendMesContent.className = 'message-content is-me';
                        sendMesContent.innerHTML = message.message;
                        sendMes.appendChild(sendMesContent)
                        fromus.appendChild(a);
                        fromus.appendChild(sendMes);
                        MessageList.appendChild(fromus);
                    } else {

                        let tous = document.createElement('div');
                        tous.className = 'msg-item not-me';
                        let a = document.createElement('a');
                        a.title = message.username;
                        a.className = 'avatar';
                        a.style.backgroundImage = 'url(' + message.avatar + ')';
                        a.style.float = 'left';
                        let sendMes = document.createElement('div');
                        sendMes.className = 'message';
                        let sendMesContent = document.createElement('div');
                        sendMesContent.className = 'message-content not-me';
                        sendMesContent.innerHTML = message.message;
                        sendMes.appendChild(sendMesContent)
                        tous.appendChild(a);
                        tous.appendChild(sendMes);
                        MessageList.appendChild(tous);

                    }
                }

            }
        }
    }

    function createChatList(resp) {
        let username = userDto.username;
        let messages = resp.messages;
        let tousername = resp.tousername;

        let s = "";
        if (messages != null) {
            for (let message of messages) {
                if (message.isSender) {
                    s += `
                    <div class='msg-item is-me'>
                        <a title='${username}'
                           target='_blank' class='avatar'
                           style='background-image: url("${message.avatar}");  float: right;'></a>
                        <div class='message ' style="float: right;background-color: #80b9f2;border-radius: 16px 0 16px 16px; ">
                            <div class='message-content is-me'>${message.message}
                            </div>
                        </div>
                    </div>`


                } else {
                    s += `
                        <div class='msg-item not-me'>
                            <a title='${tousername}'
                               target='_blank' class='avatar'
                               style='background-image: url("${message.avatar}");'></a>
                            <div class='message'>
                                <div class='message-content'>${message.message}
                                </div>
                            </div>
                        </div>
                        `

                }
            }
        }
        $('.message-list').html(s);
        let t = "";
        t += ` <div class="send-box" style="height: 180px">
                                    <div class="row">
                                        <div class="space-margin">
                                            <label class="image-upload-btn"></label>
                                        </div>
                                    </div>

                                    <div placeholder="回复一下吧～" class="input-box">
                                        <!--                                        <div  class="core-style" contenteditable="true"-->
                                        <!--                                              style="height: 60px;" id="textareaContent" oninput="updateNum()">-->
                                        <!--                                        </div>-->
                                        <textarea oninput="updateNum()" maxlength="100" id="textareaContent"></textarea>

                                        <!--                                        <div class="indicator" style="bottom: 0px; right: 100px;">-->
                                        <!--                                            <em>0</em>/<span>500</span>-->
                                        <!--                                        </div>-->
                                        <div class="commentText">
                                            <div class="textLine" style="font-size: 12px;"><em>0</em>/<span>100</span>
                                            </div>
                                            <button class="sendComment" onclick=btnOn("${tousername}")>发送</button>
                                        </div>
                                    </div>
                                </div>`

        if (!$('.dialog').find('.send-box').length) {
            $('.dialog').append(t);
        }


    }

    function createList(users) {
        let s = "";
        for (let user of users) {
            let avatar = user.avatar;
            s += `
            <div class='list-item list-active'>
                <div class='avatar' style='background-image: url("${avatar}")'></div>
                <div class='name-box' onclick=Chat("${user.username}")>
                    <div class='name'>
                        <div class='name-value'>${user.username}</div>
                    </div>
                </div>
            </div>
        `;
        }
        $('.myui-layout-list-container-list').html(s);

        $('.list-item').first().addClass('list-active');

        $('.list-item').on('click', function () {
            $('.list-item').removeClass('list-active');
            $(this).addClass('list-active');
        });

    }

    function Chat(s) {
        let username = userDto.username;

        let req = {
            from: username,
            to: s,
            message: "loadMessage",
        }

        $("#title").html(s);
        websocket.send(JSON.stringify(req));
    }

    function btnOn(tousername) {
        // let username = document.querySelector('.name');
        let username = userDto.username;
        let text = $("#textareaContent").val().trim();
        if (text == "") {
            alert("请输入内容,不要输入空格");
            return;
        }
        let req = {
            from: username,
            to: tousername,
            content: text,
            message: "sendMessage",
        }
        websocket.send(JSON.stringify(req));
        let text2 = document.querySelector("#textareaContent");
        text2.value = "";
    }


</script>
